{% extends 'bootstrap/base.html' %}

{% block title %}NZA Law{% endblock %}

{% block navbar %}
<div class="container">
  <header>
    <a href="index.html"><img src="http://nzalaw.com/images/nza_logo.jpg"/></a>
    <!-- Poor form in line HTML Style that I will correct later -->
    <Style>
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        padding: 10px;
      }

      li {
        float: left;
        text-align: justify;
      }

      li a {
        display: inline;
        padding: 8px;
        text-align: justify;
      }
    </style>
    <hr/>
    <ul class="toplist">
      <li><a href="page2.html">WHO WE ARE</a></li>
      <li>|</li>
      <li><a href="page3.html">WHAT WE DO</a></li>
      <li>|</li>
      <li><a href="page4.html">NEWS & EVENTS</a></li>
      <li>|</li>
      <li><a href="page5.html">WHERE WE WORK</a></li>
      <li>|</li>
      <li><a href="page6.html">CONTACT US</a></li>

  </header>
  <div class="row">
    <div class="col-sm-8">
      <img id="imagebordering" class="img-fluid" src="https://get.pxhere.com/photo/landscape-tree-nature-grass-horizon-cloud-plant-sky-field-meadow-sunlight-morning-leaf-hill-flower-dawn-autumn-season-romania-rural-area-bucovina-woody-plant-campulung-970519.jpg"
        alt="forward thining tree" style="width: 100%; height: 100%">
    </div>
    <div class="col-sm-4">
      <div id="cute"><span style="color:#FFFFFF"><b>NEWS FEED</b><hr /><br/>In a 1983/Title IX claim brought against an Illinois school district and its administrators, Robert Lentz was able to obtain a Motion to Dismiss with prejudice from the Fed Dist Court of Illinois.</p>
                    Nielsen, Zehe & Antas. P.C. is pleased to announce that Vaughn A. Drozd has joined the Firm as Associate Attorney.<br/><br/>
                    Paul Bozych and Jack Murphy recently obtained a favorable court decision on a dispositive motion in the Northern District of Illinois regarding personal jurisdiction.<br/><br/>
                    Jeffrey Zehe and Frank DeBoni obtained dismissal of their client, a Japanese company, when U.S. District Court for the Eastern District of Michigan granted their client's MTD challenging personal
                    Craig Antas recently made a 100% recovery for our client in a construction related accident where a concrete supplier on a job site damaged a support beam leading to a significant collapse of the structure.<br/><br/>
                    Nielsen, Zehe & Antas. P.C. is pleased to announce that Vaughn A. Drozd has joined the Firm as Associate Attorney.<br/><br/>
                    Paul Bozych and Jack Murphy recently obtained a favorable court decision on a dispositive motion in the Northern District of Illinois regarding personal jurisdiction.<br/><br/></span></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <h5><b>Welcome to our website!</b></h5>
      <p>Nielsen, Zehe & Antas, PC is a nationally recognized and respected law firm that offers its clients big firm experience and talent in a smaller firm environment. Our reputation is very important to us. We solve our client’s problems in some situations
        and prevent them all together in other situations. We welcome you to our website to learn more about us.</p>
    </div>
    <div class="col-sm-4">
      <p id="info"><b>Nielsen, Zehe & Antas, P.C.</b><br> 55 West Monroe Street, Suite 1800<br> Chicago, Illinois 60603<br> 312-322-9900 phone<br> 312-322-9977 fax<br>
        <a href=# class="email">ENielsen@nzalaw.com</a></p>
    </div>
  </div>
  <div class="footer">
    <hr class="line" />
    <ul>
      <li><a href="index.html">HOME -</a></li>
      <li><a href="page2.html"> WHO WE ARE -</a></li>
      <li><a href="page3.html"> WHAT WE DO -</a></li>
      <li><a href="page4.html"> NEWS & EVENTS -</a></li>
      <li><a href="page5.html"> WHERE WE WORK -</a></li>
      <li><a href="page6.html"> CONTACT</a></li>
    </ul>
    <p class="footer_bottom">©2009 Nielsen, Zehe & Antas, P.C. // Website Design by OneTen Creative</p>
  </div>
  <!--  </div>
  </div>-->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</div>
</body>
{% endblock %}
